<!DOCTYPE html>
<html>
<head>
	<title>about</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="about.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<body>
	<div class="col-12">
<nav class="navbar fixed-top">
  <div class="container">
  <div class="brand">VIKIRAN</div>
</div>
</nav>
</div>

<div class="row">
	<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 d-flex justify-content-center sec1">
		<div class="img-align">
		<img src="vikiran.jpg">
		</div>
	</div>
	<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 sec2 container">
		<div class="what text-center"> What Is Vikiran </div>
		"Vikiran is the annual Techno-Cultural Fest of Delhi Technical Campus, Greater Noida.


The word "Vikiran" symbolizes a beam of light and hope which will enlighten your path to display innumerable opportunities in different aspects where you can excel in life.

This fest will provide you a platform to showcase your talent in areas of life skills, arts and technical work where you can participate and learn with games and activities.


<div class="row sec3">
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 d-flex justify-content-end">
		<button class="btn1">Register</button>
	</div>
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 d-flex justify-content-start">
		<button class="btn2">Go Back!</button>
	</div>
</div>
</div>
</div>


</body>
</html>