<!DOCTYPE html>
<html>
<head>
	<title>Events</title>
	<link rel="stylesheet" type="text/css" href="events.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
</head>
<body>

<div class="first">
	<div class="tag container text-center">
		EVENTS
	</div>
	<div class="tag2 container text-center">
		( 8th & 9th March 2019 )
	</div>
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-center tag3">
		<button class="btn1">ABOUT</button>	
	</div>

</div>


<div class="second">

	<div class="col-sm-12 text-center pad">
      <img src="avatar2.svg" class="avatar">
      <div class="content">
            Select event of your choice.
            </div> 
            <div class="promo">
      		Do read the event date and rules before registering.
      		</div>
    		</div>
	</div>

	<div class="container">
	<div class="row pad ">

		<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 text-center">
			<img src="dn1.jpg" class="image">
			<div class="pad2">
			Solo Dance
			</div>
		</div>

		<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 text-center">
			<img src="cl1.png" class="image">
			<div class="pad2">
			Cloth Painting
			</div>
		</div>
		<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 text-center">
			<img src="co1.jpg" class="image">
			<div class="pad2">
			Indian Song Solo
			</div>
		</div>
		<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 text-center">
			<img src="dr1.jpg" class="image">
			<div class="pad2">
			Mono Act
			</div>
		</div>

		<div class="row pad ">

		<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 text-center">
			<img src="fs1.jpeg" class="image">
			<div class="pad2">
			Fashion Show
			</div>
		</div>

		<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 text-center">
			<img src="dr1.jpg" class="image">
			<div class="pad2">
			Stage Play
			</div>
		</div>
		<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 text-center">
			<img src="dn1.jpg" class="image">
			<div class="pad2">
			Duet Dance
			</div>
		</div>
		<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 text-center">
			<img src="co1.jpg" class="image">
			<div class="pad2">
			Western Song Solo
			</div>
		</div>

		</div>
</div>





</body>
</html>