<!DOCTYPE html>
<html>
<head>
	<title>Vikiran</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="eventStyle.css">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
</head>
<body>
	<div class="first">
		<div class="heading text-center">
			Solo Dance
		</div>
	</div>
	<div class="second container d-flex justify-content-center">
		<img class="image" src="dn1.jpg">
	</div>



	<div class="third">

		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col1">
				<div class="rules container">
					<div class="hed2 text-center">
				Rules
				<br>
				SHRESTHA ( Solo )
				</div>
				
				<ul>
					<li> Time Limit – 4 + 2 minutes.</li>
					<li> Props allowed. </li>
					<li> Classical or folk dance is not allowed.</li>
					<li>Participants need to bring their tracks in pen drives (USB option is also
						available).</li>
					<li>Judging criteria will include the choreography, stage utilization,    energ level,innovation, presentation and overall impact on the audience.</li>
				</ul>
			</div>
		</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col2">
				<div class="society text-center">
					AMEYA
				</div>
			</div>
				
			</div>
		</div>
	</div>
</body>
</html>
