body{
	font-family: 'Varela Round', sans-serif;
}
.first{
	background-image:url("dance.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.heading{
	color:white;
	padding-top: 5vh;
	padding-bottom: 5vh;
	font-family: 'Indie Flower', cursive;
	font-size: 10vh;
}
.image{
	height:30vh;
	width:40vh;
}
.col1{
	background:#ff0029;
}
.hed2{
	color:black;
	font-size: 4vh;
	padding-bottom: 2vh;
}
.rules{
	padding-top: 5vh;
	color: white;
	padding-left: 18vh;
	padding-right: 18vh;
}